@page "/learnBlazor/ParentComponent"
<h3>Parent Child Relation</h3>
<CascadingValue Value="@MessageForGrandChild" Name="message">
    <CascadingValue Value="@LuckyNumber" Name="luckyNumber">
        <_ChildComponent @ref="_childComp" OnButtonClick="ShowMessage" Title="This title is passed as parameter from parent component">
            <ChildContent>Render Fragment From Parent!</ChildContent>
            <DangerChildContent>Danger content from parent</DangerChildContent>
        </_ChildComponent>
    </CascadingValue>
</CascadingValue>

<p>
    <b>@messageText</b>
</p>

<_AnotherChildComponent placeholder="Enter Name From Parent"></_AnotherChildComponent>

<div class="row">
    <button class="btn btn-success" @onclick="() => _childComp.SweetSuccess()">Show SweetAlert</button>
</div>
<!-- <_ChildComponent Title="Another child"></_ChildComponent> -->

@code {
    private _ChildComponent _childComp;
    public string messageText = "";

    public string MessageForGrandChild = "This is a message from your GrandParent (ParentComponent";
    public int LuckyNumber = 7;

    private void ShowMessage()
    {
        messageText = "Button clicked on child component";
    }

}