@page "/learnBlazor/ParentComponent"
<h3>Parent Child Relation</h3>
<CascadingValue Value="@MessageForGrandChild">
    <_ChildComponent OnButtonClick="ShowMessage" Title="This title is passed as parameter from parent component">
        <ChildContent>Render Fragment From Parent!</ChildContent>
        <DangerChildContent>Danger content from parent</DangerChildContent>
    </_ChildComponent>
</CascadingValue>

<p>
    <b>@messageText</b>
</p>

<_AnotherChildComponent placeholder="Enter Name From Parent"></_AnotherChildComponent>

<!-- <_ChildComponent Title="Another child"></_ChildComponent> -->

@code {
    public string messageText = "";

    public string MessageForGrandChild = "This is a message from your GrandParent (ParentComponent";
    private void ShowMessage()
    {
        messageText = "Button clicked on child component";
    }

}